@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
	overflow-x: hidden;
	color: #505962;
}

.offset:before {
	height: 3.8rem;
	margin-top: -3.8rem;
	content: "";
	display: block;
}
/*-- Nav bar Style --*/

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(0, 0, 0, .6)!important;


}
.navbar-brand img {
	height: 2rem;
}
.navbar-nav li {
	padding-right: 2rem;


}
.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding-top: .8rem;
	margin-right: 40px;


}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #a2623f;
}

/*--Slider--*/

.carousel-item {
	height: 100vh;
}
.carousel-caption {
	position: absolute;
	top: 38%;
	width: 100;
	right: 0;
	left: 0;
}
.carousel-caption h1 {
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}
.carousel-caption h3 {
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem; 
}
.btn-lg {
	border-width: medium;
	border-radius: 0;
	font-size: 1.1rem;
}
/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.jumbotron {
	border-radius: 0;
	padding: 3rem 0 2rem;
	margin-bottom: 0;
}
h3.heading{
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 1.9rem;
}
.heading-underline {
	width: 7rem;
	height: .2rem;
	background-color: #a2623f;
	margin: 0 auto 2rem;
}

/*--Portfolio --*/

.portfolio img {
	max-width: 100%;
	transition: transform .5s ease;
}
.row.no-padding [class*=col=] {
	padding= 0;
}
.portfolio img:hover {
	transform: scale(1.1);
	cursor: zoom-in;
}
.portfolio {
	overflow: hidden;

}
.card {
	margin: 2rem;
	position: center;
	
}

div.text{
	margin-top: 2rem;
}

p.text{
   margin-top: 1rem;
   margin-bottom: 1rem;
   padding-bottom: .2rem;
}



/*Contact css --*/

footer {
	background-color: #40474e;
	color: white;
	padding: 2rem 0 3rem;
	margin-top: 1rem;
}
footer img {
	height: 3rem;
	margin: 1.5rem;
}
footer a {
	color: white;
}
footer svg.svg-inline--fa {
	font-size: 1.6rem;
	margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
	color: #1ebba3;
}
hr.socket {
	border-top: .2rem solid #a2623f;
	width: 100%;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/